body {background-color: rgb(248, 233, 195);}

h1 {
    background-color: #f0d05f;
    color:rgb(94, 88, 88);
}

h2 {
    color:rgba(12, 129, 202, 0.895);
    font-style: oblique;
    font-weight: bolder;
}

p1{
    font-weight: bolder;
    color:rgb(4, 89, 132);
}
ul {
    list-style: none;
}